# Data Types and Structures

1. What are data structures, and why are they important?
   - Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently.

  Importance:

  - Help in managing large amounts of data efficiently.

  - Enable fast and easy data retrieval, insertion, and deletion.

  - Critical for writing efficient algorithms.
  

2.  Explain the difference between mutable and immutable data types with examples

 - Mutable: Can be changed after creation.

    Example: list, dict, set

    my_list = [1, 2, 3]

    my_list[0] = 10  # Allowed

    - Immutable: Cannot be changed after creation.

    Example: int, str, tuple

    my_str = "hello"

    my_str[0] = 'H' #error u can get

3.  What are the main differences between lists and tuples in Python?
 - Mutability:

  Lists are mutable, which means their elements can be changed after creation.

  Tuples are immutable, meaning once created, their elements cannot be modified.

  - Syntax:

  Lists are defined using square brackets [].

  Tuples are defined using parentheses ().

  - Performance:

  Tuples have better performance than lists due to their immutability.

  Lists are slightly slower because they are dynamic and mutable.

 - Use Cases:

  Lists are used when the data can change, such as a collection of items to be updated.

  Tuples are used for fixed data, such as storing coordinates, days of the week, etc.

  - Methods:

  Lists have more built-in methods, like append(), remove(), sort(), etc.

  Tuples have only two methods: count() and index().

  - Memory Usage:

  Tuples use less memory than lists, making them more memory-efficient.

  Lists consume more memory due to their flexibility.

4. Describe how dictionaries store data.
  - Dictionaries store data in key-value pairs.

    student = {'name': 'Ayush Gupta', 'age': 22}
  
5.  Why might you use a set instead of a list in Python?
 - Sets store only unique elements.

  - Faster lookup than lists.

   - Used when duplicates must be avoided.

   - my_set = {1, 2, 3, 1}  # Output: {1, 2, 3}

6. What is a string in Python, and how is it different from a list?
 - A string is a sequence of Unicode characters, immutable.

  - A list is a mutable sequence of any data type.

    string = "hello"     # Immutable
    
    list = ['h', 'e']  # Mutable

7.  How do tuples ensure data integrity in Python?
  - Tuples are immutable, meaning once created, data can’t be changed.

  - Ideal for fixed data like coordinates or dates to prevent accidental modification.

8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table stores key-value pairs using a hash function to compute an index.

  - Python’s dict uses hash tables to allow O(1) average time complexity for lookups.

9. Can lists contain different data types in Python?
 -  Yes. Python lists can store mixed types:
        
    mixed = [1, "hello", 3.14, True]

10.  Explain why strings are immutable in Python?

  - For performance and security (especially in multi-threading).

   - Immutable strings can be cached and shared safely.

11. What advantages do dictionaries offer over lists for certain tasks?
 - Fast lookup using keys.

  - Store data with descriptive keys rather than numeric indexes.

  - Great for representing real-world mappings.

12. Describe a scenario where using a tuple would be preferable over a list?

- Use a tuple when the data is fixed and should not change.

   Example:

      point = (5, 10)

     -  Why tuple is better here:

      The position (5, 10) is a constant value.

      Tuples are immutable, so no one can accidentally modify the coordinates.

      It ensures data integrity.

      Tuples can be used as keys in dictionaries (lists can’t).

      Prefer tuple when:

      You want to store fixed data (like dates, coordinates, RGB colors).

      You want to use the data as a dictionary key.

13.  How do sets handle duplicate values in Python?
  
   -  Automatically remove duplicates.

      s = {1, 2, 2, 3}
      print(s)  # {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?

  - In lists: Checks if a value exists.

   - In dictionaries: Checks if a key exists.

   Example -

    3 in [1, 2, 3]          # True

  'name' in {'name': 'A'} # True

  'A' in {'name': 'A'}    # False


15. Can you modify the elements of a tuple? Explain why or why not?

   -  No, you cannot modify the elements of a tuple in Python.

   Why?

    Tuples are immutable, meaning once a tuple is created, its elements cannot be changed, added, or removed.

    my_tuple = (1, 2, 3)

    my_tuple[0] = 10  #  This will give u an erorr


    Reason:

    Immutability makes tuples:

    Safe for fixed data

    Hashable, so they can be used as dictionary keys

    More memory-efficient and faster to access than lists

16.  What is a nested dictionary, and give an example of its use case?

 - A nested dictionary is a dictionary where values are also dictionaries.

  students = {

    "101": {"name": "Ayush", "age": 20, "grade": "A"},

    "102": {"name": "Rohit", "age": 22, "grade": "B"}

  }

  - Use Case:--
Managing structured data, like storing multiple students' details, each with their own set of attributes.

  - print(students["101"]["name"])  # Output: Ayush


17.  Describe the time complexity of accessing elements in a dictionary?

 - Accessing elements in a dictionary is O(1) (constant time) on average.

      It’s fast because dictionaries use hashing to find values

18. In what situations are lists preferred over dictionaries?

  -  Lists are preferred over dictionaries when:

    Order matters – You want to keep elements in a specific sequence.

    Index-based access – You need to access items by position (e.g., list[0]).

    No unique keys needed – Just storing values without key-value pairs.

    Simple collections – Like a list of names, numbers, or items.



    fruits = ["apple", "banana", "orange"]  # List is best here


19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - In older Python versions (<3.7), dictionaries did not preserve insertion order, so items could appear in any sequence.

      From Python 3.7+, they preserve insertion order, but they are still used as key-value stores, not for ordering.


 - You can’t access by position like in a list (dict[0] is invalid).
     
     You must know the key to get the value: dict["name"].


     person = {"name": "Ayush", "age": 25}
     print(person["name"])  # You access by key, not position

20.  Explain the difference between a list and a dictionary in terms of data retrieval

 - List uses index-based retrieval (list[0]),
 - while dictionary uses key-based retrieval (dict["key"]).




    # List example (index-based)
    fruits = ["apple", "banana", "orange"]
    print(fruits[1])  # Output: banana

    # Dictionary example (key-based)
    person = {"name": "Ayush", "age": 25}
    print(person["name"])  # Output: Ayush

In [ ]:
#1. Write a code to create a string with your name and print it.

my_name="ayush"
print("my name is",my_name)

my name is ayush

In [ ]:
#2. Write a code to find the length of the string "Hello World"
text="hello world"
length=len(text)
print("length of the string is:" ,length)

length of the string is: 11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
text="python programming"
sliced=text[:3]
print("first 3 character:",sliced)

first 3 character: pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercaseP
text="hello"
upper_text=text.upper()
print("uppercase:",upper_text)

uppercase: HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text="i like apple"
new_text = text.replace("apple", "orange")
print("Updated string:", new_text)

Updated string: i like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
num=[1,2,3,4,5]
print("List of numbers:", num)

List of numbers: [1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
number=[1,2,3,4]
number.append(10)
print("updated list",number)

updated list [1, 2, 3, 4, 10]

In [ ]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

numbers = [1, 2, 3, 4, 5]

numbers.remove(3)

print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [ ]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
# Define the list
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]

numbers.reverse()

print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

numbers = (100, 200, 300)

print("Tuple:", numbers)

In [ ]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
second_last = colors[-2]
print("Second-to-last element:", second_last)

Second-to-last element: blue

In [ ]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)

numbers = (10, 20, 5, 15)


min_number = min(numbers)


print("Minimum number:", min_number)

Minimum number: 5

In [ ]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')

index = animals.index('cat')


print("Index of 'cat':", index)

Index of 'cat': 1

In [ ]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')

if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [ ]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it

letters = {'a', 'b', 'c'}

print("Set:", letters)

Set: {'a', 'b', 'c'}

In [ ]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1, 2, 3, 4, 5}

numbers.clear()


print( numbers)

set()

In [ ]:
#18  Write a code to remove the element 4 from the set {1, 2, 3, 4}

numbers = {1, 2, 3, 4}

numbers.remove(4)

print("Set after removing 4:", numbers)

Set after removing 4: {1, 2, 3}

In [ ]:
#19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [ ]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}


intersection_set = set1.intersection(set2)


print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [ ]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {
    "name": "Ayush",
    "age": 22,
    "city": "Delhi"
}

print("Dictionary:", person)

Dictionary: {'name': 'Ayush', 'age': 22, 'city': 'Delhi'}

In [ ]:
#22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}


person['country'] = 'USA'

print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

person = {'name': 'Alice', 'age': 30}


name_value = person['name']

print("Name:", name_value)

Name: Alice

In [ ]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}


person.pop('age')


print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [ ]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}


if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists in the dictionary.

In [ ]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.


my_list = [1, 2, 3, 4, 5]


my_tuple = ('apple', 'banana', 'cherry')


my_dict = {'name': 'John', 'age': 28, 'city': 'London'}


print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 28, 'city': 'London'}

In [ ]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random


random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()


print("Sorted random numbers:", random_numbers)

Sorted random numbers: [13, 21, 31, 40, 63]

In [ ]:
#28 Write a code to create a list with strings and print the element at the third index

fruits = ["apple", "banana", "cherry", "mango", "orange"]


print("Element at index 3:", fruits[3])

Element at index 3: mango

In [ ]:
#29 Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}


combined_dict = {**dict1, **dict2}


print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30 Write a code to convert a list of strings into a set.

string_list = ["apple", "banana", "cherry", "apple"]


string_set = set(string_list)


print("Set:", string_set)

Set: {'apple', 'cherry', 'banana'}